@import "tailwindcss";

@theme inline {
  /* fonts */
  --font-gas: var(--font-gasoek);
  --font-mart: var(--font-martian);

  /* colors */
  --color-primary: oklch(86.89 0.29 142.02); /* #27FF0B*/
  --color-background: oklch(99.7 0 0); /* #fefefe */
  --color-foreground: oklch(0 0 0); /* #000000 */
  --color-secondary: oklch(0.38 0 1); /* #434343*/
}

.heading {
  @apply font-gas tracking-[-2%] font-bold;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-mart text-foreground bg-background;
}

article {
}
