---
import { Picture } from 'astro:assets';
import Logo from '../assets/ravers.jpg'
---
<section id="About" class="container mx-auto mb-28 p-6">
    <h2 class="heading text-5xl md:text-9xl uppercase">About Us</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center md:p-0 gap-8">
        <div class="space-y-6">
            <div
                class="w-full aspect-[668/516] md:max-w-[668px] overflow-hidden rounded-3xl"
            >
                <Picture src ={Logo} formats={['jpg']} alt="Ravers on a Couch "layout='constrained' width={750} height={500} />
            </div>
        </div>

        <div>
            <div class="text-lg md:text-2xl text-secondary space-y-4">
                <p>
                    The best spaces to catch a vibe. Share the scene and tune in from across the world
                </p>
            </div>
            <div>
                <h3 class="heading text-2xl uppercase my-8 text-secondary">
                    What we do
                </h3>
                <div class="flex flex-wrap gap-4 mt-8">
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        LFX
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Stage XR
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Livestreams
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Creator Support
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Developer Tools
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Promotion
                    </span>
                    <span
                        class="inline-flex items-center justify-center rounded-4xl py-4 px-8 outline-1 outline-dashed outline-secondary"
                    >
                        Recordings
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
